*{
    font-family: 'Sansita Swashed', cursive;
    background-color: #fc94c8;
}

h1 {
    font-family: 'Dancing Script', cursive;
    display: flex;
    padding: 10px;
    max-width: 900px;
    font-weight: bold;
    line-height: 10px;
    font-size: 60px;
    padding-left: 350px;
    
    
}

h2{
    display: flex;
    padding: 10px;
    max-width: 900px;
    font-weight: bold;
    line-height: 10px;
    font-size: 30px;
    padding-left: 650px;
    
}

img{
    width: 30%;
    padding-left: 500px;
}
