*{
    background-color: lemonchiffon;
    font-family: 'Sansita Swashed', cursive;
}

h1 {
    text-align:center;
    font-size: 40px;
}

img {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto
}


footer {
    font-weight: lighter;
    text-align: center;
    background-color: snow;
    padding:5px;
    margin:20px;
        
    
}

footer span {
    font-weight: lighter;
    text-align: center;
    background-color: snow;
    padding:5px;
}