*{
    background-color: rgb(123, 92, 138);
    text-align: center;
}

h1 {
    color: white;
    font-size: 10rem;
    font-style: bold;
}

h2 {
    color: thistle;
    font-family: monospace;
    font-size: 4rem;
}